# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
my*
client/admin/
.DS_Store
.idea/inspectionProfiles/
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
src/nekoserver/configure.go
src/nekoserver/vendor/github.com/gin-contrib/
src/nekoserver/vendor/github.com/gin-gonic/
src/nekoserver/vendor/github.com/golang/protobuf/.gitignore
src/nekoserver/vendor/github.com/golang/protobuf/.travis.yml
src/nekoserver/vendor/github.com/golang/protobuf/AUTHORS
src/nekoserver/vendor/github.com/golang/protobuf/CONTRIBUTORS
src/nekoserver/vendor/github.com/golang/protobuf/LICENSE
src/nekoserver/vendor/github.com/golang/protobuf/Make.protobuf
src/nekoserver/vendor/github.com/golang/protobuf/Makefile
src/nekoserver/vendor/github.com/golang/protobuf/README.md
src/nekoserver/vendor/github.com/golang/protobuf/_conformance/
src/nekoserver/vendor/github.com/golang/protobuf/descriptor/
src/nekoserver/vendor/github.com/golang/protobuf/jsonpb/
src/nekoserver/vendor/github.com/golang/protobuf/proto/
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/Makefile
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/descriptor/
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/doc.go
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/generator/
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/grpc/
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/link_grpc.go
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/main.go
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/plugin/
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/Makefile
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/extension_base.proto
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/extension_extra.proto
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/extension_test.go
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/extension_user.proto
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/grpc.proto
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/imp.pb.go.golden
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/imp.proto
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/imp2.proto
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/imp3.proto
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/main_test.go
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/multi/
src/nekoserver/vendor/github.com/golang/protobuf/protoc-gen-go/testdata/proto3.proto
src/nekoserver/vendor/github.com/golang/protobuf/ptypes/
src/nekoserver/vendor/github.com/jmoiron/
src/nekoserver/vendor/github.com/mattn/
src/nekoserver/vendor/github.com/ugorji/
src/nekoserver/vendor/golang.org/
src/nekoserver/vendor/gopkg.in/
src/old/app.go
src/old/categoryController.go
src/old/categoryModel.go
src/old/commentController.go
src/old/commentModel.go
src/old/main.go
src/old/postController.go
src/old/postModel.go
src/old/postView.go
src/old/tokenMiddleware.go
src/old/userDetailController.go
src/old/userDetailModel.go
src/old/userLoginController.go
src/old/userLoginModel.go
