<html>
    <head>
        <title>Test</title>
        <link href="https://www.zybuluo.com/static/assets/template-theme-white.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <p>123345435443</p>
        {{ . }}
    </body>
</html>